# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Virtualenvs
.env
*.env
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db
desktop.ini
